body{
    margin: 10px 80px;
    font-family: 'Tahoma', Verdana, sans-serif;
}
nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav h1{
    font-family: 'Lucida Sans', sans-serif;
    font-size: 30px;
}

nav .onglets{
    margin-top: 35px;
}
nav .onglets a{
    text-decoration: none;
    color: grey;
    margin-right: 11px;
}

.articles{
    margin-top: 30px;
    

}
.articles .article{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
}
.articles .article .left img{
    height: 300px;
    width: 500px;
}  
.articles .article .right{
    max-width: 50%;
    margin-left: 40px;
}  

.articles .article .right .date {

    color: gray;
}
.articles .article .right .description {

    color: rgb(63, 62, 62);
}
footer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: grey;
}
footer h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .socialmedia{
    display: flex;
}
footer .socialmedia p{
    margin-right: 11px;
}
@media screen and (max-width:640px;){
    body{
        margin: 10px 20px;
    }
    nav .onglets{
        margin-top: -10px;

    }
    .articles .article .left img{
        height: 100%;
        width: 100%;
    }
    .articles .article .right{
        margin: 0;
        max-width: 100%;
    }
    footer .socialmedia{
        margin-top: -20px;
    }
}